# requirements.txt
python-dotenv==1.1.1
requests==2.32.3
APScheduler==3.11.0
pytz==2025.2
aiohttp==3.10.5
ollama==0.1.9
alembic==1.16.5
google-auth>=2.19.0
google-api-python-client==2.153.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
reportlab

